In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [108]:
# Get data
data = pd.read_csv("BTC-USD.csv")
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-12-29,310.914001,320.434998,257.612000,264.195007,264.195007,118523600
1,2015-01-05,265.084015,298.753998,265.039001,265.660004,265.660004,164241500
2,2015-01-12,266.145996,272.203003,171.509995,210.339005,210.339005,363112212
3,2015-01-19,211.470993,255.074005,205.153000,253.718002,253.718002,189165500
4,2015-01-26,254.078995,309.384003,212.014999,226.972000,226.972000,306840500

In [81]:
# Get the data over 2020
data_over_2020 = data[data['Date'].dt.year > 2020]

In [118]:
plt.style.available

['Solarize_Light2',
 '_classic_test_patch',
 '_mpl-gallery',
 '_mpl-gallery-nogrid',
 'bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn-v0_8',
 'seaborn-v0_8-bright',
 'seaborn-v0_8-colorblind',
 'seaborn-v0_8-dark',
 'seaborn-v0_8-dark-palette',
 'seaborn-v0_8-darkgrid',
 'seaborn-v0_8-deep',
 'seaborn-v0_8-muted',
 'seaborn-v0_8-notebook',
 'seaborn-v0_8-paper',
 'seaborn-v0_8-pastel',
 'seaborn-v0_8-poster',
 'seaborn-v0_8-talk',
 'seaborn-v0_8-ticks',
 'seaborn-v0_8-white',
 'seaborn-v0_8-whitegrid',
 'tableau-colorblind10']

In [126]:
# Plot the data for high and low
plt.style.use("dark_background")
fig, (ax1, ax2) = plt.subplots(nrows=2, ncols=1  ,figsize=(10, 6), sharex=True)

ax1_high = ax1.plot(data_over_2020["Date"], data_over_2020["High"], c="red")
ax1_low = ax1.plot(data_over_2020["Date"], data_over_2020["Low"]);

ax2_open = ax2.plot(data_over_2020["Date"], data_over_2020["Open"], c="red")
ax2_close = ax2.plot(data_over_2020["Date"], data_over_2020["Close"])

ax1.set(title="High vs Low")
ax2.set(title="Open vs Close")

ax1.axhline(data_over_2020["High"].mean(), linestyle="--", c="red")
ax1.axhline(data_over_2020["Low"].mean(), linestyle="--");

ax2.axhline(data_over_2020["High"].mean(), linestyle="--", c="red")
ax2.axhline(data_over_2020["Low"].mean(), linestyle="--");

SyntaxError: invalid syntax (242652182.py, line 20)