In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

from textblob import TextBlob

In [2]:
df = pd.read_csv("./archive/twitter_training.csv")

In [3]:
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [4]:
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   2401                                                   74681 non-null  int64
 1   Borderlands                                            74681 non-null  object
 2   Positive                                               74681 non-null  object
 3   im getting on borderlands and i will murder you all ,  73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [5]:
known_df = df[df["im getting on borderlands and i will murder you all ,"].notna()]

In [6]:
known_df.isna().sum()

2401                                                     0
Borderlands                                              0
Positive                                                 0
im getting on borderlands and i will murder you all ,    0
dtype: int64

In [7]:
cleaned_df = pd.DataFrame()

In [8]:
cleaned_df["tweet"] = known_df["im getting on borderlands and i will murder you all ,"]
cleaned_df["sentiment"] = known_df["Positive"]
cleaned_df["account"] = known_df["Borderlands"]

In [9]:
cleaned_df.head()

                                               tweet sentiment      account
0  I am coming to the borders and I will kill you...  Positive  Borderlands
1  im getting on borderlands and i will kill you ...  Positive  Borderlands
2  im coming on borderlands and i will murder you...  Positive  Borderlands
3  im getting on borderlands 2 and i will murder ...  Positive  Borderlands
4  im getting into borderlands and i can murder y...  Positive  Borderlands

In [10]:
import re

def clean_text(text):
    text = re.sub(r"[^a-zA-Z\s]", "", text)
    text = text.strip()
    text = text.lower()
    return text

In [11]:
cleaned_df["cleaned_text"] = cleaned_df["tweet"].apply(clean_text)

In [12]:
cleaned_df.head()

,tweet,sentiment,account,cleaned_text
0,I am coming to the borders and I will kill you...,Positive,Borderlands,i am coming to the borders and i will kill you...
1,im getting on borderlands and i will kill you ...,Positive,Borderlands,im getting on borderlands and i will kill you all
2,im coming on borderlands and i will murder you...,Positive,Borderlands,im coming on borderlands and i will murder you...
3,im getting on borderlands 2 and i will murder ...,Positive,Borderlands,im getting on borderlands and i will murder y...
4,im getting into borderlands and i can murder y...,Positive,Borderlands,im getting into borderlands and i can murder y...

In [20]:
cleaned_df["Sentiment Polarity"] = cleaned_df["cleaned_text"].apply(lambda x: TextBlob(x).sentiment.polarity )
cleaned_df["Sentiment Label"] = cleaned_df["Sentiment Polarity"].apply(lambda x: "Positive" if x > 0 else ("Negative" if x <0 else "Neutral") )

In [21]:
cleaned_df.head()

,tweet,sentiment,account,cleaned_text,Sentiment_analysis,Sentiment Polarity,Sentiment Label
0,I am coming to the borders and I will kill you...,Positive,Borderlands,i am coming to the borders and i will kill you...,0.0,0.0,Neutral
1,im getting on borderlands and i will kill you ...,Positive,Borderlands,im getting on borderlands and i will kill you all,0.0,0.0,Neutral
2,im coming on borderlands and i will murder you...,Positive,Borderlands,im coming on borderlands and i will murder you...,0.0,0.0,Neutral
3,im getting on borderlands 2 and i will murder ...,Positive,Borderlands,im getting on borderlands and i will murder y...,0.0,0.0,Neutral
4,im getting into borderlands and i can murder y...,Positive,Borderlands,im getting into borderlands and i can murder y...,0.0,0.0,Neutral

In [22]:
cleaned_df["Sentiment Label"].value_counts()

Sentiment Label
Positive    33938
Negative    21206
Neutral     18851
Name: count, dtype: int64

In [23]:
cleaned_df["sentiment"].value_counts()

sentiment
Negative      22358
Positive      20654
Neutral       18108
Irrelevant    12875
Name: count, dtype: int64