In [12]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, RandomizedSearchCV, cross_val_score
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.datasets import fetch_california_housing

In [13]:
data = pd.read_csv("data/heart-disease.csv")
X = data.drop("target", axis=1)
y = data["target"]

In [14]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [15]:
len(data)

303

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [17]:
clf = SVC().fit(X_train, y_train)
clf.score(X_test, y_test)

0.5901639344262295

In [18]:
rf_clf = RandomForestClassifier().fit(X_train, y_train)
rf_clf.score(X_test, y_test)

0.7704918032786885

In [19]:
y_preds = clf.predict(X_test)

In [20]:
y_preds

array([1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0], dtype=int64)

In [ ]:
X_test.loc[214], y_preds[0]

# Try regression

In [71]:
cali = fetch_california_housing()
df = pd.DataFrame(cali["data"], columns=cali["feature_names"])
df["target"] = pd.Series(cali["target"])

In [72]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [73]:
len(df)

20640

In [74]:
X = df.drop("target", axis=1)
y = df["target"]

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [76]:
len(X_train)

14448

In [77]:
model = RandomForestRegressor(n_jobs=-1).fit(X_train, y_train)

In [78]:
model.score(X_test, y_test)

0.8048821063622595

In [79]:
y_preds = model.predict(X_test)

In [80]:
y_preds

array([2.74032  , 1.9676199, 0.94073  , ..., 2.01261  , 4.1900923,
       1.68994  ])

In [81]:
X_test.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
8591,5.0299,40.0,5.815385,0.938462,371.0,2.853846,33.89,-118.36
7645,3.9286,10.0,3.401447,1.032550,1769.0,3.198915,33.81,-118.27
19566,1.9444,23.0,4.285539,1.087010,2467.0,3.023284,37.61,-120.96
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
672,4.4375,36.0,5.527331,0.974277,836.0,2.688103,37.70,-122.16

In [82]:
len(X_test), len(y_preds)

(6192, 6192)

In [83]:
test_df = pd.DataFrame(data=X_test, columns=X_train.columns)

In [85]:
len(X_test)

6192

In [86]:
test_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
8591,5.0299,40.0,5.815385,0.938462,371.0,2.853846,33.89,-118.36
7645,3.9286,10.0,3.401447,1.032550,1769.0,3.198915,33.81,-118.27
19566,1.9444,23.0,4.285539,1.087010,2467.0,3.023284,37.61,-120.96
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
672,4.4375,36.0,5.527331,0.974277,836.0,2.688103,37.70,-122.16
...,...,...,...,...,...,...,...,...
12358,3.9737,18.0,10.200218,1.936888,1678.0,1.825898,33.79,-116.54
14407,4.0313,35.0,3.996795,1.105769,1126.0,1.804487,32.77,-117.25
14647,3.8571,9.0,4.766917,1.142857,248.0,1.864662,32.77,-117.19
8634,6.3403,34.0,5.192308,1.028846,213.0,2.048077,33.88,-118.41
7664,2.8837,38.0,4.240642,1.032086,601.0,3.213904,33.83,-118.21

AttributeError: type object 'numpy.ndarray' has no attribute 'isna'