In [ ]:
import pandas as pd

In [ ]:
series = pd.Series(["BMW", "Toyota", "Honda"])

In [ ]:
series

In [ ]:
# Series is 1 - dimensional

In [ ]:
colors = pd.Series(["Green", "Blue", "Yellow"])
colors

In [ ]:
# Dataframes are 2 - dimensional

In [ ]:
car_data = pd.DataFrame({
    "Car name": series,
    "Color": colors,
})

car_data

In [ ]:
# Import data

In [ ]:
car_sales = pd.read_csv("7.1 car-sales.csv")
car_sales

In [ ]:
# Export csv
# car_sales.to_csv("exported-car-sales.csv", index=False)

# Describe data

In [ ]:
car_sales.dtypes

In [ ]:
car_columns = car_sales.columns

In [ ]:
car_columns

In [ ]:
car_sales.index

In [ ]:
car_sales.describe()

In [ ]:
car_sales.info()

In [ ]:
car_prices = pd.Series([3000, 2000, 2000])
car_prices.mean()

In [ ]:
car_sales.sum()

In [ ]:
car_sales["Doors"].sum()

In [ ]:
len(car_sales)

# Viewing and selecting

In [ ]:
car_sales.head()

In [ ]:
car_sales.head(3)

In [ ]:
# loc and iloc

In [ ]:
animals = pd.Series(["cat", "dog", "snake", "panda", "bat"], index=[0, 3, 6, 8, 5])

In [ ]:
animals

In [ ]:
animals.loc[3]

In [ ]:
animals.loc[8]

In [ ]:
car_sales

In [ ]:
car_sales.loc[3]

In [ ]:
animals

In [ ]:
animals.iloc[3]

In [ ]:
# loc is location. iloc is position

In [ ]:
car_sales.iloc[3]

In [ ]:
animals.iloc[:2]

In [ ]:
car_sales.loc[:3]

In [ ]:
car_sales["Colour"]

In [ ]:
car_sales.Make

In [ ]:
car_sales[car_sales["Make"] == "Honda"]

In [ ]:
car_sales[(car_sales["Odometer (KM)"] > 50000) & (car_sales["Make"] == "Honda")]

In [ ]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])

In [ ]:
car_sales["Doors"].plot()

In [ ]:
car_sales["Odometer (KM)"].hist()

In [ ]:
car_sales = pd.read_csv("7.1 car-sales.csv")
car_sales.Price

In [ ]:
# car_sales.info()
# car_sales["Price"] = car_sales["Price"].str.replace("\$", "", regex=True).str.replace("\.", "", regex=True).str.replace("\,", "", regex=True).astype(int)
car_sales["Price"] = car_sales["Price"].replace("[\$\,\.]", "", regex=True).astype(int)
car_sales["Price"] = (car_sales["Price"] / 100).astype(int)

In [ ]:
car_sales["Price"]

# Manipulating data

In [ ]:
car_sales["Make"] = car_sales["Make"].str.lower()

In [ ]:
car_sales

In [ ]:
missing_data = pd.read_csv("9.2 car-sales-missing-data.csv")
missing_data

In [ ]:
missing_data["Odometer"].fillna(missing_data["Odometer"].mean())

In [ ]:
missing_data

In [ ]:
missing_data["Odometer"].fillna(missing_data["Odometer"].mean(), inplace=True)

In [ ]:
missing_data

In [ ]:
missing_data.dropna(inplace=True)

In [ ]:
missing_data

In [ ]:
missing_data_dropped = missing_data.dropna()

In [ ]:
missing_data_dropped

In [ ]:
missing_data_dropped.to_csv("missing-data-dropped.csv")

# Column from series

In [61]:
car_sales = pd.read_csv("7.1 car-sales.csv")

# Create a new column
car_seats = pd.Series(5).astype(int)

In [62]:
# New column called seats
car_sales["Seats"] = car_seats

# Fill nan
car_sales["Seats"].fillna(5, inplace=True)

In [ ]:
car_sales

In [63]:
# Create column from Python list
fuel_economy = [4.5, 8.3, 8.6, 4.0, 6.5, 3.0, 8.7, 4.4, 9.5, 8.5]
car_sales["Fuel per 100KM"] = fuel_economy

In [64]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price  Seats  Fuel per 100KM
0  Toyota  White         150043      4   $4,000.00    5.0             4.5
1   Honda    Red          87899      4   $5,000.00    5.0             8.3
2  Toyota   Blue          32549      3   $7,000.00    5.0             8.6
3     BMW  Black          11179      5  $22,000.00    5.0             4.0
4  Nissan  White         213095      4   $3,500.00    5.0             6.5
5  Toyota  Green          99213      4   $4,500.00    5.0             3.0
6   Honda   Blue          45698      4   $7,500.00    5.0             8.7
7   Honda   Blue          54738      4   $7,000.00    5.0             4.4
8  Toyota  White          60000      4   $6,250.00    5.0             9.5
9  Nissan  White          31600      4   $9,700.00    5.0             8.5

In [75]:
car_sales["Total fuel"] = (car_sales["Odometer (KM)"] * car_sales["Fuel per 100KM"]) / 100

In [76]:
car_sales

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100KM,Total fuel,Wheels
0,Toyota,White,150043,4,"$4,000.00",5.0,4.5,6751.935,4
1,Honda,Red,87899,4,"$5,000.00",5.0,8.3,7295.617,4
2,Toyota,Blue,32549,3,"$7,000.00",5.0,8.6,2799.214,4
3,BMW,Black,11179,5,"$22,000.00",5.0,4.0,447.160,4
4,Nissan,White,213095,4,"$3,500.00",5.0,6.5,13851.175,4
5,Toyota,Green,99213,4,"$4,500.00",5.0,3.0,2976.390,4
6,Honda,Blue,45698,4,"$7,500.00",5.0,8.7,3975.726,4
7,Honda,Blue,54738,4,"$7,000.00",5.0,4.4,2408.472,4
8,Toyota,White,60000,4,"$6,250.00",5.0,9.5,5700.000,4
9,Nissan,White,31600,4,"$9,700.00",5.0,8.5,2686.000,4

In [78]:
# Create a column from a single value
car_sales["Wheels"] = 4
car_sales

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100KM,Total fuel,Wheels
0,Toyota,White,150043,4,"$4,000.00",5.0,4.5,6751.935,4
1,Honda,Red,87899,4,"$5,000.00",5.0,8.3,7295.617,4
2,Toyota,Blue,32549,3,"$7,000.00",5.0,8.6,2799.214,4
3,BMW,Black,11179,5,"$22,000.00",5.0,4.0,447.160,4
4,Nissan,White,213095,4,"$3,500.00",5.0,6.5,13851.175,4
5,Toyota,Green,99213,4,"$4,500.00",5.0,3.0,2976.390,4
6,Honda,Blue,45698,4,"$7,500.00",5.0,8.7,3975.726,4
7,Honda,Blue,54738,4,"$7,000.00",5.0,4.4,2408.472,4
8,Toyota,White,60000,4,"$6,250.00",5.0,9.5,5700.000,4
9,Nissan,White,31600,4,"$9,700.00",5.0,8.5,2686.000,4

In [80]:
# Delete a column
car_sales["Is ugly"] = False
car_sales

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100KM,Total fuel,Wheels,Is ugly
0,Toyota,White,150043,4,"$4,000.00",5.0,4.5,6751.935,4,False
1,Honda,Red,87899,4,"$5,000.00",5.0,8.3,7295.617,4,False
2,Toyota,Blue,32549,3,"$7,000.00",5.0,8.6,2799.214,4,False
3,BMW,Black,11179,5,"$22,000.00",5.0,4.0,447.160,4,False
4,Nissan,White,213095,4,"$3,500.00",5.0,6.5,13851.175,4,False
5,Toyota,Green,99213,4,"$4,500.00",5.0,3.0,2976.390,4,False
6,Honda,Blue,45698,4,"$7,500.00",5.0,8.7,3975.726,4,False
7,Honda,Blue,54738,4,"$7,000.00",5.0,4.4,2408.472,4,False
8,Toyota,White,60000,4,"$6,250.00",5.0,9.5,5700.000,4,False
9,Nissan,White,31600,4,"$9,700.00",5.0,8.5,2686.000,4,False

In [83]:
car_sales.drop("Is ugly", axis=1, inplace=True)

In [84]:
car_sales

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100KM,Total fuel,Wheels
0,Toyota,White,150043,4,"$4,000.00",5.0,4.5,6751.935,4
1,Honda,Red,87899,4,"$5,000.00",5.0,8.3,7295.617,4
2,Toyota,Blue,32549,3,"$7,000.00",5.0,8.6,2799.214,4
3,BMW,Black,11179,5,"$22,000.00",5.0,4.0,447.160,4
4,Nissan,White,213095,4,"$3,500.00",5.0,6.5,13851.175,4
5,Toyota,Green,99213,4,"$4,500.00",5.0,3.0,2976.390,4
6,Honda,Blue,45698,4,"$7,500.00",5.0,8.7,3975.726,4
7,Honda,Blue,54738,4,"$7,000.00",5.0,4.4,2408.472,4
8,Toyota,White,60000,4,"$6,250.00",5.0,9.5,5700.000,4
9,Nissan,White,31600,4,"$9,700.00",5.0,8.5,2686.000,4