In [ ]:
import pandas as pd

df = pd.read_csv("student-mat.csv")

In [ ]:
df.head()

In [19]:
grouped_data = df.groupby("sex")

In [20]:
grouped_data.sum()

,school,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
sex,,,,,,,,,,,,,,,,,,,,,
F,GPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGP...,3480,UUUUUUUUUUURUURRUUUUUUUUUUUURUUUUUURRRUUUUUUUU...,GT3GT3LE3GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3G...,ATTTTATTTTTTTTTTTTAATTTTAAATTTTTTTTTTTTTTTTTTT...,555,517,at_homeat_homeat_homehealthotherotherteacherse...,teacherotherotherservicesotherteacherhealthoth...,coursecourseotherhomehomehomereputationreputat...,...,810,626,630,261,407,700,1293,2209,2161,2073
M,GPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGPGP...,3115,UUUUUUUUUUUUUUUUUUURUUURUUUUUUUUUUUUUUUUUUUUUR...,LE3LE3LE3GT3LE3GT3GT3GT3LE3GT3GT3LE3LE3GT3GT3L...,TTATTTATTTTTTTTATTTTTTTATTTTTATTATTTTTTTTTTATT...,531,479,servicesotherservicesotherhealthteacherotherse...,otherotherotherotherservicesotherotherservices...,reputationhomehomehomecoursecoursehomecourseho...,...,748,652,598,324,498,704,962,2100,2071,2041