In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV, cross_val_score
from sklearn.impute import SimpleImputer

In [2]:
# Load the data
df = pd.read_csv("../data/adult.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
X = df.select_dtypes(["int"])

In [4]:
y = pd.Series(df["income"].eq(">50K").mul(1))

In [5]:
X.head()

   age  fnlwgt  educational-num  capital-gain  capital-loss  hours-per-week
0   25  226802                7             0             0              40
1   38   89814                9             0             0              50
2   28  336951               12             0             0              40
3   44  160323               10          7688             0              40
4   18  103497               10             0             0              30

In [6]:
y.head()

0    0
1    0
2    1
3    1
4    0
Name: income, dtype: int32

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
clf = RandomForestClassifier(n_estimators=1300,
                             n_jobs=-1, 
                             min_samples_leaf=8,
                            min_samples_split=6,
                            max_features=2).fit(X_train, y_train)

In [9]:
X.shape

(48842, 6)

In [10]:
y.shape

(48842,)

In [11]:
clf.score(X_test, y_test)

0.8348858634455932

In [12]:
y_preds = clf.predict(X_test)

In [13]:
cross_val_score(clf, X_test, y_test).mean()

0.8303824627990112