In [ ]:
import pandas as pd

In [ ]:
series = pd.Series(["BMW", "Toyota", "Honda"])

In [ ]:
series

In [ ]:
# Series is 1 - dimensional

In [ ]:
colors = pd.Series(["Green", "Blue", "Yellow"])
colors

In [ ]:
# Dataframes are 2 - dimensional

In [ ]:
car_data = pd.DataFrame({
    "Car name": series,
    "Color": colors,
})

car_data

In [ ]:
# Import data

In [ ]:
car_sales = pd.read_csv("7.1 car-sales.csv")
car_sales

In [ ]:
# Export csv
# car_sales.to_csv("exported-car-sales.csv", index=False)

# Describe data

In [ ]:
car_sales.dtypes

In [ ]:
car_columns = car_sales.columns

In [ ]:
car_columns

In [ ]:
car_sales.index

In [ ]:
car_sales.describe()

In [ ]:
car_sales.info()

In [ ]:
car_prices = pd.Series([3000, 2000, 2000])
car_prices.mean()

In [ ]:
car_sales.sum()

In [ ]:
car_sales["Doors"].sum()

In [ ]:
len(car_sales)

# Viewing and selecting

In [ ]:
car_sales.head()

In [ ]:
car_sales.head(3)

In [ ]:
# loc and iloc

In [ ]:
animals = pd.Series(["cat", "dog", "snake", "panda", "bat"], index=[0, 3, 6, 8, 5])

In [ ]:
animals

In [ ]:
animals.loc[3]

In [ ]:
animals.loc[8]

In [ ]:
car_sales

In [ ]:
car_sales.loc[3]

In [ ]:
animals

In [ ]:
animals.iloc[3]

In [ ]:
# loc is location. iloc is position

In [ ]:
car_sales.iloc[3]

In [ ]:
animals.iloc[:2]

In [ ]:
car_sales.loc[:3]

In [ ]:
car_sales["Colour"]

In [ ]:
car_sales.Make

In [ ]:
car_sales[car_sales["Make"] == "Honda"]

In [ ]:
car_sales[(car_sales["Odometer (KM)"] > 50000) & (car_sales["Make"] == "Honda")]

In [ ]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])

In [ ]:
car_sales["Doors"].plot()

In [ ]:
car_sales["Odometer (KM)"].hist()

In [106]:
car_sales = pd.read_csv("7.1 car-sales.csv")
car_sales.Price

0     $4,000.00
1     $5,000.00
2     $7,000.00
3    $22,000.00
4     $3,500.00
5     $4,500.00
6     $7,500.00
7     $7,000.00
8     $6,250.00
9     $9,700.00
Name: Price, dtype: object

In [107]:
# car_sales.info()
# car_sales["Price"] = car_sales["Price"].str.replace("\$", "", regex=True).str.replace("\.", "", regex=True).str.replace("\,", "", regex=True).astype(int)
car_sales["Price"] = car_sales["Price"].replace("[\$\,\.]", "", regex=True).astype(int)
car_sales["Price"] = (car_sales["Price"] / 100).astype(int)

In [108]:
car_sales["Price"]

0     4000
1     5000
2     7000
3    22000
4     3500
5     4500
6     7500
7     7000
8     6250
9     9700
Name: Price, dtype: int32