In [ ]:
import pandas as pd

In [ ]:
series = pd.Series(["BMW", "Toyota", "Honda"])

In [ ]:
series

In [ ]:
# Series is 1 - dimensional

In [ ]:
colors = pd.Series(["Green", "Blue", "Yellow"])
colors

In [ ]:
# Dataframes are 2 - dimensional

In [ ]:
car_data = pd.DataFrame({
    "Car name": series,
    "Color": colors,
})

car_data

In [ ]:
# Import data

In [ ]:
car_sales = pd.read_csv("7.1 car-sales.csv")
car_sales

In [ ]:
# Export csv
# car_sales.to_csv("exported-car-sales.csv", index=False)

# Describe data

In [ ]:
car_sales.dtypes

In [ ]:
car_columns = car_sales.columns

In [ ]:
car_columns

In [ ]:
car_sales.index

In [ ]:
car_sales.describe()

In [ ]:
car_sales.info()

In [ ]:
car_prices = pd.Series([3000, 2000, 2000])
car_prices.mean()

In [ ]:
car_sales.sum()

In [ ]:
car_sales["Doors"].sum()

In [ ]:
len(car_sales)

# Viewing and selecting

In [ ]:
car_sales.head()

In [ ]:
car_sales.head(3)

In [ ]:
# loc and iloc

In [ ]:
animals = pd.Series(["cat", "dog", "snake", "panda", "bat"], index=[0, 3, 6, 8, 5])

In [ ]:
animals

In [ ]:
animals.loc[3]

In [ ]:
animals.loc[8]

In [ ]:
car_sales

In [ ]:
car_sales.loc[3]

In [ ]:
animals

In [ ]:
animals.iloc[3]

In [ ]:
# loc is location. iloc is position

In [ ]:
car_sales.iloc[3]

In [ ]:
animals.iloc[:2]

In [ ]:
car_sales.loc[:3]

In [ ]:
car_sales["Colour"]

In [ ]:
car_sales.Make

In [ ]:
car_sales[car_sales["Make"] == "Honda"]

In [ ]:
car_sales[(car_sales["Odometer (KM)"] > 50000) & (car_sales["Make"] == "Honda")]

In [ ]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])

In [ ]:
car_sales["Doors"].plot()

In [ ]:
car_sales["Odometer (KM)"].hist()

In [ ]:
car_sales = pd.read_csv("7.1 car-sales.csv")
car_sales.Price

In [ ]:
# car_sales.info()
# car_sales["Price"] = car_sales["Price"].str.replace("\$", "", regex=True).str.replace("\.", "", regex=True).str.replace("\,", "", regex=True).astype(int)
car_sales["Price"] = car_sales["Price"].replace("[\$\,\.]", "", regex=True).astype(int)
car_sales["Price"] = (car_sales["Price"] / 100).astype(int)

In [ ]:
car_sales["Price"]

# Manipulating data

In [ ]:
car_sales["Make"] = car_sales["Make"].str.lower()

In [ ]:
car_sales

In [31]:
missing_data = pd.read_csv("9.2 car-sales-missing-data.csv")
missing_data

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [ ]:
missing_data["Odometer"].fillna(missing_data["Odometer"].mean())

In [ ]:
missing_data

In [ ]:
missing_data["Odometer"].fillna(missing_data["Odometer"].mean(), inplace=True)

In [ ]:
missing_data

In [ ]:
missing_data.dropna(inplace=True)

In [ ]:
missing_data

In [34]:
missing_data_dropped = missing_data.dropna()

In [35]:
missing_data_dropped

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

In [36]:
missing_data_dropped.to_csv("missing-data-dropped.csv")