# Introduction to scikit-learn

This notebook demonstrates some of the most useful functions of the beautiful Scikit-Learn library.

What we're going to cover


0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problem
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together!

In [1]:
# Let's listify the contents
what_were_covering = [
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predictions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"]

## 0. An end-to-end Scikit-Learn workflow

In [ ]:
# 1. Get the data ready
import pandas as pd
import numpy as np

heart_disease = pd.read_csv("heart-disease.csv")
heart_disease.head()

In [ ]:
# Create X (feautres matrix)
X =  heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

In [ ]:
# 2. Choose the right model and hyperparameters
# This is a classification problem because we want to determine if X = heart disease

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 90)

# We'll keep the default hyperparameters
clf.get_params()

In [ ]:
# Fit the model to the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
clf.fit(X_train, y_train);
X_train.head()

In [ ]:
# Make a prediction
y_label = clf.predict(np.array([0, 2, 3, 4]))

In [ ]:
y_preds = clf.predict(X_test)

In [ ]:
y_preds

In [ ]:
y_test.head()

In [ ]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, y_train)

In [ ]:
clf.score(X_test, y_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

In [ ]:
confusion_matrix(y_test, y_preds)

In [ ]:
accuracy_score(y_test, y_preds)

In [ ]:
# 5. Improve a model
# Try different amount of n_estimators

np.random.seed(10)
for i in range(10, 100, 10):
    print("Trying model with {} estimators".format(i))
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print("Model accuracy on test set: {} %".format(clf.score(X_test, y_test)))
    print()

In [ ]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random-forest-model1.pkl", "wb"))

In [ ]:
loaded_model = pickle.load(open("Random-forest-model1.pkl", "rb"))
loaded_model.score(X_test, y_test)

# Retry again

In [ ]:
heart_data = pd.read_csv("heart-disease.csv")
heart_data.head()

In [ ]:
X = heart_data.drop("target", axis=1)
X

In [ ]:
y = heart_data["target"]
y

In [ ]:
clf = RandomForestClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
clf.fit(X_train, y_train);

In [ ]:
y_pred = clf.predict(X_test)
y_pred

In [ ]:
clf.score(X_train, y_train)

In [ ]:
clf.score(X_test, y_test)

# Retry again

In [ ]:
heart_data = pd.read_csv("heart-disease.csv")
X = heart_data.drop("target", axis=1)
y = heart_data["target"]

clf = RandomForestClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

clf.score(X_test, y_test)

In [ ]:
what_were_covering

# 1. Getting your data ready

Three main things we have to do:
    1. Split the data into features and labels (Usually "X" and "y")
    2. Filling (also called imputing) or disregarding missing values
    3. Converting non-numerical values into numerical values (also called feature encoding)

In [ ]:
heart_disease.head()

In [ ]:
X = heart_disease.drop("target", axis=1)
X.head()

In [ ]:
y = heart_disease["target"]
y.head()

In [ ]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape # Important, make sure shapes match.

# 1.1 Make sure its all numerical

In [ ]:
car_sales = pd.read_csv("car-sales-extended.csv")
car_sales.head()

In [ ]:
len(car_sales)

In [ ]:
car_sales.dtypes

In [ ]:
# Split the data into x and y
X = car_sales.drop("Price", axis=1)
X.head()

In [ ]:
y = car_sales["Price"]
y.head()

In [ ]:
# SPlit into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train) # FIt on training data
model.score(X_test, y_test) # Evaluate on test data

In [ ]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")
transformed_x = transformer.fit_transform(X)
transformed_x

In [ ]:
X.head()

In [ ]:
pd.DataFrame(transformed_x).head()

In [ ]:
# dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
# dummies.head()

In [ ]:
# Lets try refit the model
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(transformed_x,
                                                   y,
                                                   test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
model.fit(X_train, y_train);

In [ ]:
model.score(X_test, y_test)

# 1.2 What if there were missing values?
1. Fill them with some value (also known as imputation)
2. Remove the samples with missing data altogether

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Import car sales missing data
missing_data = pd.read_csv("car-sales-extended-missing-data.csv")
missing_data.head()
missing_data.dtypes

In [ ]:
missing_data.isna().sum()

In [ ]:
# Create X and y
X = missing_data.drop("Price", axis=1)
X.head()

In [ ]:
y = missing_data["Price"]
y.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorical_features)],
                               remainder="passthrough")

transformed_x = transformer.fit_transform(X)

In [ ]:
X.isna().sum()

#### Option 1: Fill missing  data with pandas

In [ ]:
# Fill the "Make" column
missing_data["Make"].fillna("missing", inplace=True)

# Fill the "Color" column
missing_data["Colour"].fillna("missing", inplace=True)

# Fill missing "Odometer (KM)" with mean of Odometer
missing_data["Odometer (KM)"].fillna(missing_data["Odometer (KM)"].mean(), inplace=True)

# Fill the "Doors" column with the average of doors
missing_data["Doors"].value_counts()
missing_data["Doors"].fillna(4, inplace=True)

# CHeck our dataframe again
missing_data.isna().sum()

In [ ]:
# Remove rows with missing price value
missing_data.dropna(inplace=True)
missing_data.isna().sum()

In [ ]:
len(missing_data)

In [ ]:
X = missing_data.drop("Price", axis=1)
y = missing_data["Price"]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorical_features)],
                               remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease.head()

In [ ]:
X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

In [ ]:
heart_disease.isna().sum()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
clf.fit(X_train, y_train);

In [ ]:
clf.score(X_train, y_train)

In [ ]:
clf.score(X_test, y_test)

# Try again making data numerical and running ML

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# Get the data ready
car_sales = pd.read_csv("car-sales-extended.csv")
car_sales.head(), len(car_sales), car_sales.dtypes

In [ ]:
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

In [ ]:
feature_data = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 feature_data)],
                               remainder="passthrough")

transformed_X = transformer.fit_transform(X)
X_pd = pd.DataFrame(data=transformed_X)
X_pd.head()
# model = RandomForestRegressor()
# transformed_X

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_pd, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
model.fit(X_train, y_train)
model.score(X_train, y_train)

In [ ]:
model.score(X_test, y_test)

# Restart

In [ ]:
what_were_covering

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Getting the data ready
missing_data = pd.read_csv("car-sales-extended-missing-data.csv")
missing_data.head(), len(missing_data), missing_data.dtypes

In [ ]:
missing_data.isna().sum()

In [ ]:
# FIll missing data in "Make", "Color", "Odometer", "Doors" with "missing" and drop missing data in price
# Make string data numerical

missing_data["Make"].fillna("missing", inplace=True)
missing_data["Colour"].fillna("missing", inplace=True)
missing_data["Odometer (KM)"].fillna(missing_data["Odometer (KM)"].mean(), inplace=True)
missing_data["Doors"].fillna(4, inplace=True)

missing_data.dropna(inplace=True)

In [ ]:
missing_data.isna().sum()

In [ ]:
# Now that all missing data has been sorted. Sort the data into X and y
X = missing_data.drop("Price", axis=1)
y = missing_data["Price"]

In [ ]:
X.head(), y.head()

In [ ]:
# Turn the data into numerical data
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

feature_data = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 feature_data)],
                               remainder="passthrough",
                               sparse_threshold=0)

transformed_X = transformer.fit_transform(X)
X_pd = pd.DataFrame(transformed_X)
X_pd.head()

In [ ]:
# Fit the model. We are trying to get an estimate of price
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=60)
X_train, X_test, y_train, y_test = train_test_split(X_pd, y, test_size=0.2)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# Train the data
model.fit(X_train, y_train);

In [ ]:
# Test the trained data
model.score(X_train, y_train)

In [ ]:
# Test the test data
model.score(X_test, y_test)

In [ ]:
for i in range(10, 100, 25):
    model = RandomForestRegressor(n_estimators=i)
    X_train, X_test, y_train, y_test = train_test_split(X_pd, y, test_size=0.2)
    model.fit(X_train, y_train);
    model.score(X_train, y_train)
    print("Testing {} estimators: Result = {}".format(i, model.score(X_test, y_test)))

# Option 2. FIll missing values with scikit-learn

In [15]:
missing_data = pd.read_csv("car-sales-extended-missing-data.csv")
missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [16]:
missing_data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [17]:
# Drop the rows with no labeks
missing_data.dropna(subset=["Price"], inplace=True)
missing_data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [18]:
missing_data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[950 rows x 5 columns]

In [19]:
X = missing_data.drop("Price", axis=1)
y = missing_data["Price"]

In [20]:
missing_data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[950 rows x 5 columns]

In [21]:
# Fill missing values with scikit-learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with missing and numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define columns
cat_feature = ["Make", "Colour"]
door_feature = ["Doors"]
num_feature = ["Odometer (KM)"]

# Create an imputer (Something that fills missing data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_feature),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_feature)
])

# Transform the data
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [ ]:
X_pd = pd.DataFrame(filled_X,
                    columns=["Make", "Colour", "Doors", "Odometer (KM)"])
X_pd.head()

In [ ]:
X_pd.isna().sum()

In [ ]:
# Convert catagorical value to numerical
from sklearn.preprocessing import OneHotEncoder


cat_data = ["Make", "Colour", "Doors"]
hot_one = OneHotEncoder()
transformer = ColumnTransformer([("hot_one", hot_one, cat_data)],
                                remainder="passthrough",
                               sparse_threshold=0)

transform_X = transformer.fit_transform(X_pd)
transform_X

In [ ]:
# Now that our data is numbers and filled (No missing values). Fit a model
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transform_X, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

# Retry

In [ ]:
what_were_covering

In [ ]:
# Getting the data ready
# Import the data
# Check for missing data
# Make categorical data numerical
# Choose the right model
# fit the model
# Make predictions

In [62]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [72]:
# 1. import the data
missing_data = pd.read_csv("car-sales-extended-missing-data.csv")
missing_data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [64]:
# 2. check for missing data
missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [73]:
# Drop data with no labels
missing_data.dropna(subset=["Price"], inplace=True)
missing_data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [74]:
# Split the data
X = missing_data.drop("Price", axis=1)
y = missing_data["Price"]

In [75]:
X.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [76]:
# Fix the missing data in X
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
mean_imputer = SimpleImputer(strategy="mean")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)

cat_feature = ["Make", "Colour"]
mean_feature = ["Odometer (KM)"]
door_feature = ["Doors"]

imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_feature),
    ("mean_imputer", mean_imputer,mean_feature),
    ("door_imputer", door_imputer, door_feature)])

filled_X = imputer.fit_transform(X)
filled_X[:5]

array([['Honda', 'White', 35431.0, 4.0],
       ['BMW', 'Blue', 192714.0, 5.0],
       ['Honda', 'White', 84714.0, 4.0],
       ['Toyota', 'White', 154365.0, 4.0],
       ['Nissan', 'Blue', 181577.0, 3.0]], dtype=object)

In [77]:
# Put data back into a dataframe
X_pd = pd.DataFrame(filled_X, columns=["Make", "Colour", "Odometer (KM)", "Doors"])

In [78]:
X_pd.head()

     Make Colour Odometer (KM) Doors
0   Honda  White       35431.0   4.0
1     BMW   Blue      192714.0   5.0
2   Honda  White       84714.0   4.0
3  Toyota  White      154365.0   4.0
4  Nissan   Blue      181577.0   3.0

In [79]:
# Change categorical data into numerical data

categorical_data = ["Make", "Colour", "Odometer (KM)", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_data)], remainder="passthrough", sparse_threshold=0)

transformed_X = transformer.fit_transform(X_pd)

In [80]:
# Sort data into training and test data
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((760, 915), (190, 915), (760,), (190,))

In [82]:
model = RandomForestRegressor()
model.fit(X_train, y_train);

In [83]:
model.score(X_train, y_train)

0.8272852712890146

In [84]:
model.score(X_test, y_test)

0.08859473548157593

# Fixing missing values with scikit-learn the recommended way
* Fill the missing data with the transformer on X_train and X_test for better results

In [2]:
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [35]:
# 1. Get the data ready
missing_data = pd.read_csv("car-sales-extended-missing-data.csv")
missing_data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [36]:
missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [37]:
# Drop data with no labels
missing_data.dropna(subset=["Price"], inplace=True)
missing_data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [38]:
# Split the data
X = missing_data.drop("Price", axis=1)
y = missing_data["Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((760, 4), (190, 4), (760,), (190,))

In [41]:
# Fill in the missing values
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
num_imputer = SimpleImputer(strategy="mean")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)

cat_feat = ["Make", "Colour"]
num_feat = ["Odometer (KM)"]
door_feat = ["Doors"]

imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_feat),
    ("num_imputer", num_imputer, num_feat),
    ("door_imputer", door_imputer, door_feat)
], remainder="passthrough", sparse_threshold=0)

transformed_X_train = imputer.fit_transform(X_train)
transformed_X_test = imputer.fit_transform(X_test)

In [42]:
# Put transformed data into a dataframe
X_train_pd = pd.DataFrame(transformed_X_train, columns=["Make", "Colour", "Odometer (KM)", "Doors"])
X_test_pd = pd.DataFrame(transformed_X_test, columns=["Make", "Colour", "Odometer (KM)", "Doors"])

In [43]:
# No missing data
X_train_pd.isna().sum(), X_test_pd.isna().sum()

(Make             0
 Colour           0
 Odometer (KM)    0
 Doors            0
 dtype: int64,
 Make             0
 Colour           0
 Odometer (KM)    0
 Doors            0
 dtype: int64)

In [52]:
len(X_test_pd), len(y_test)

(190, 190)

In [57]:
# Change X_train_pd and X_test_pd into numerical data
one_hot = OneHotEncoder()
cat_features = ["Make", "Colour", "Doors"]

transformer = ColumnTransformer([("one_hot", one_hot, cat_features)], remainder="passthrough", sparse_threshold=0)

transformed_X_train = transformer.fit_transform(X_train_pd)
transformed_X_test = transformer.fit_transform(X_test_pd)

In [58]:
model = RandomForestRegressor()
model.fit(transformed_X_train, y_train)

RandomForestRegressor()

In [60]:

model.score(transformed_X_test, y_test)

0.2056614701186451

In [3]:
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

# 2. Choose the right estimator/algorithm for out problems
Scikit-Learn uses estimator for another term for machine learning or algorithm

* Classification - predicting whether a sample is one thing or another
* Regression - predicting a number

## 2.1 picking a machine learning model for a regression problem

In [46]:
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]

boston = pd.read_csv("HousingData.csv")
boston["target"] = target

In [47]:
boston.isna().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
target      0
dtype: int64

In [48]:
# How many samples
len(boston)

506

In [49]:
boston.dropna(inplace=True)

In [50]:
boston.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
target     0
dtype: int64

In [58]:
# Lets try the ridge regression model
from sklearn.linear_model import Ridge

# Setup random seed
np.random.seed(42)

# Create the data
X = boston.drop("target", axis=1)
y = boston["target"]

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Instantiate the ridge model
model = Ridge()
model.fit(X_train, y_train)

# Check the train data
model.score(X_train, y_train)

0.9999999930306077

In [59]:
# Check the score of the ridge model on test data
model.score(X_test, y_test)

0.9999999871186371

In [60]:
# Test cali housing
from sklearn.datasets import fetch_california_housing
cali_data = fetch_california_housing()

cali_df = pd.DataFrame(cali_data["data"], columns=cali_data["feature_names"])
cali_df["target"] = pd.Series(cali_data["target"])

In [68]:
# Sort out the data
X = cali_df.drop("target", axis=1)
y = cali_df["target"]

# Split the data in train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Fit the model
model = Ridge()

# Check the score
model.fit(X_train, y_train)

# Check train score
model.score(X_train, y_train)

0.6076464147475754

In [69]:
# Check test score
model.score(X_test, y_test)

0.5983631387519075