In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 4019-8BFC

 Directory of C:\Users\mahou\Documents

2023/11/28  21:18    <DIR>          .
2023/11/28  21:18    <DIR>          ..
2023/11/28  21:13    <DIR>          .ipynb_checkpoints
2023/11/28  21:17    <DIR>          python_projects
               0 File(s)              0 bytes
               4 Dir(s)  176 956 010 496 bytes free

In [4]:
cd python_projects/ML/fifa_data/

C:\Users\mahou\Documents\python_projects\ML\fifa_data

In [6]:
import pandas as pd
df = pd.read_csv("FIFA23_official_data.csv")

In [8]:
df.describe()

,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Kit Number
count,17660.000000,17660.000000,17660.000000,17660.000000,17660.000000,17660.000000,17660.000000,17660.000000,17625.000000
mean,246319.424462,23.127746,63.369592,70.981200,1537.915855,1.106285,2.900340,2.297169,25.037957
std,31487.892861,4.639821,8.036268,6.529836,285.893809,0.407021,0.663523,0.754264,19.154116
min,16.000000,15.000000,43.000000,42.000000,749.000000,1.000000,1.000000,1.000000,1.000000
25%,240732.500000,20.000000,58.000000,67.000000,1387.000000,1.000000,3.000000,2.000000,11.000000
50%,257041.000000,22.000000,63.000000,71.000000,1548.000000,1.000000,3.000000,2.000000,22.000000
75%,263027.500000,26.000000,69.000000,75.000000,1727.000000,1.000000,3.000000,3.000000,32.000000
max,271340.000000,54.000000,91.000000,95.000000,2312.000000,5.000000,5.000000,5.000000,99.000000

In [9]:
df["Name"].head()

0    209658
1    212198
2    224334
3    192985
4    224232
Name: ID, dtype: int64