In [4]:
import pandas as pd
df = pd.read_csv("FIFA23_official_data.csv")

In [ ]:
df

In [ ]:
african_players = df[df["Nationality"] == "South Africa"]

In [ ]:
african_players

In [ ]:
african_players = df[(df["Nationality"] == "South Africa") & (df["Age"] > 24)]

In [ ]:
african_players

In [ ]:
over_30 = df[(df["Nationality"] == "South Africa") & (df["Age"] > 30)]

In [ ]:
over_30

In [ ]:
over_30.sort_values("Age", ascending=False)
over_30

In [ ]:
photos_african_30 = over_30["Photo"]
photos_african_30

In [ ]:
potential = df.sort_values("Potential", ascending=False)

In [ ]:
potential["Club"].head()

In [ ]:
potential_club = potential["Club"]

In [ ]:
potential_club

In [ ]:
df["Age"].hist()

In [ ]:
african_players.iloc[0]

In [ ]:
import matplotlib.pyplot as plt
african_players["Height"].hist(figsize=(20, 6))
plt.title("Height")
plt.xlabel("Height")
plt.ylabel("Amount")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
df["Nationality"].hist(figsize=(200, 6))
plt.title("Nationality")
plt.xlabel("Nationality")
plt.ylabel("From")
plt.show()

In [ ]:
german_players = df[df["Nationality"] == "Germany"]

In [ ]:
german_players

In [5]:
df1 = pd.DataFrame(df, columns=["Name", "Wage", "Value"])

In [ ]:
import seaborn as sns
sns.set()

graph = sns.scatterplot(x="Wage", y="Value", data=df1)

graph

In [69]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0

wage = df1["Wage"].replace("[\€]", "", regex=True).apply(value_to_float)
value = df1["Value"].replace("[\€]", "", regex=True).apply(value_to_float)

df1["Wage"] = wage
df1["Value"] = value

df1["Difference"] = df1["Value"] - df1["Wage"]
df1.sort_values("Difference", ascending=False)

                Name      Wage        Value   Difference
75         K. Mbappé  230000.0  190500000.0  190270000.0
180       E. Haaland  220000.0  148000000.0  147780000.0
17        F. de Jong  230000.0  116500000.0  116270000.0
214            Pedri  115000.0  116000000.0  115885000.0
25          M. Salah  270000.0  115500000.0  115230000.0
...              ...       ...          ...          ...
8455        14 Índio   20000.0          0.0     -20000.0
2031   14 J. Zanetti   45000.0       1000.0     -44000.0
199          R. Kent   45000.0          0.0     -45000.0
1287     14 R. Giggs   60000.0       1000.0     -59000.0
997   Z. Ibrahimović   63000.0          0.0     -63000.0

[17660 rows x 4 columns]

In [74]:
from bokeh.plotting import figure, show
from bokeh.models import HoverTool
from bokeh.models import ColumnDataSource

source = ColumnDataSource(df1)

TOOLTIPS = [
    ("Name", "@Name"),
    ("(Wage,Value)", "(@Wage, @Value)"),
]

p = figure(width=700, height=500, tooltips=TOOLTIPS,
           title="Difference")

p.circle('Wage', 'Value', size=10, source=source)
hover = HoverTool()
p.add_tools(hover)

show(p)