In [1]:
import pandas as pd
df = pd.read_csv("FIFA23_official_data.csv")

In [ ]:
df

In [ ]:
african_players = df[df["Nationality"] == "South Africa"]

In [ ]:
african_players

In [ ]:
african_players = df[(df["Nationality"] == "South Africa") & (df["Age"] > 24)]

In [ ]:
african_players

In [ ]:
over_30 = df[(df["Nationality"] == "South Africa") & (df["Age"] > 30)]

In [ ]:
over_30

In [ ]:
over_30.sort_values("Age", ascending=False)
over_30

In [ ]:
photos_african_30 = over_30["Photo"]
photos_african_30

In [ ]:
potential = df.sort_values("Potential", ascending=False)

In [ ]:
potential["Club"].head()

In [ ]:
potential_club = potential["Club"]

In [ ]:
potential_club

In [ ]:
df["Age"].hist()

In [ ]:
african_players.iloc[0]

In [ ]:
import matplotlib.pyplot as plt
african_players["Height"].hist(figsize=(20, 6))
plt.title("Height")
plt.xlabel("Height")
plt.ylabel("Amount")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
df["Nationality"].hist(figsize=(200, 6))
plt.title("Nationality")
plt.xlabel("Nationality")
plt.ylabel("From")
plt.show()

In [ ]:
german_players = df[df["Nationality"] == "Germany"]

In [ ]:
german_players

In [7]:
df1 = pd.DataFrame(df, columns=["Name", "Wage", "Value"])

                  Name   Wage    Value
0          L. Goretzka  €115K     €91M
1      Bruno Fernandes  €190K   €78.5M
2             M. Acuña   €46K   €46.5M
3         K. De Bruyne  €350K  €107.5M
4           N. Barella  €110K   €89.5M
...                ...    ...      ...
17655    Deng Xiongtao   €500    €100K
17656   22 Lim Jun Sub   €500    €100K
17657         A. Demir    €2K     €70K
17658     21 S. Czajor   €500     €90K
17659  21 F. Jakobsson   €500     €90K

[17660 rows x 3 columns]

In [9]:
x = "R1999"
if "R" in x:
    return x.replace("R",  "")

SyntaxError: unterminated string literal (detected at line 3) (3383567975.py, line 3)