In [5]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, RandomizedSearchCV, cross_val_score
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.datasets import fetch_california_housing

In [6]:
data = pd.read_csv("data/heart-disease.csv")
X = data.drop("target", axis=1)
y = data["target"]

In [7]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [8]:
len(data)

303

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
clf = SVC().fit(X_train, y_train)
clf.score(X_test, y_test)

0.6557377049180327

In [12]:
rf_clf = RandomForestClassifier().fit(X_train, y_train)
rf_clf.score(X_test, y_test)

0.8360655737704918

In [ ]:
y_preds = clf.predict(X_test)

In [ ]:
y_preds

In [ ]:
X_test.loc[214], y_preds[0]

# Try regression

In [3]:
cali = fetch_california_housing()
df = pd.DataFrame(cali["data"], columns=cali["feature_names"])
df["target"] = pd.Series(cali["target"])

In [4]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [14]:
len(df)

20640

In [15]:
X = df.drop("target", axis=1)
y = df["target"]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [20]:
len(X_train)

14448

In [21]:
model = RandomForestRegressor(n_jobs=-1).fit(X_train, y_train)

In [22]:
model.score(X_test, y_test)

0.8015346521924297