In [25]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [16]:
cali = fetch_california_housing(as_frame=True)

In [18]:
df = pd.DataFrame(cali.data, columns=cali.feature_names)

In [19]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df, cali.target, test_size=0.2)

In [27]:
X_train = StandardScaler().fit_transform(X_train)
X_test = StandardScaler().fit_transform(X_test)

In [32]:
X_train.shape

(16512, 8)

In [34]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation="relu", input_shape=(8, )),
     tf.keras.layers.Dense(64, activation="relu"),
     tf.keras.layers.Dense(1),
])

In [35]:
model.compile(optimizer="adam", loss="mse", metrics=["mae"])

In [ ]:
%%time
model.fit(X_train, y_train, epochs=300)

Epoch 1/300
197/516 [==========>...................] - ETA: 3s - loss: 0.1811 - mae: 0.2969

In [ ]:
loss, mae = model.evaluate(X_test, y_test)

In [ ]:
mae