In [ ]:
# import pandas as pd
# import numpy as np
# from datetime import datetime, timedelta

# # Generate 500 rows of data
# num_rows = 500
# start_date = datetime(2020, 1, 1)

# # Generate random data
# data = {
#     "Date": [(start_date + timedelta(days=30 * i)).strftime("%Y-%m-%d") for i in range(num_rows)],
#     "Total Revenue": np.random.randint(5000, 20000, size=num_rows),  # Random revenue between 5k and 20k
#     "Monthly Profit": np.random.randint(1000, 8000, size=num_rows),  # Random profit between 1k and 8k
#     "Expenses": np.random.randint(3000, 15000, size=num_rows),       # Random expenses between 3k and 15k
#     "Customer Count": np.random.randint(50, 500, size=num_rows),     # Random customer count between 50 and 500
# }

# # Create a DataFrame
# df = pd.DataFrame(data)

# # Save to CSV
# csv_file_path = "business_data.csv"
# df.to_csv(csv_file_path, index=False)

# print(f"CSV file with 500 rows created: {csv_file_path}")

CSV file with 500 rows created: business_data.csv

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./business_data.csv")

In [5]:
df.head()

         Date  Total Revenue  Monthly Profit  Expenses  Customer Count
0  2020-01-01           8874            1003      3457             387
1  2020-01-31           6287            3639     11769              53
2  2020-03-01          13786            4296      4555             380
3  2020-03-31           8022            6530      7637              55
4  2020-04-30          10569            2375     13633             125