In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./financial_stock_data.csv", parse_dates=["Date"])

In [4]:
df.head()

,Date,Expenses,Money_In,Total_Money,Money_Spent,Money_Left,Stock_On_Hand,Stock_To_Order
0,2024-01-01,427,428,10428,427,10001,125,479
1,2024-01-02,240,701,10702,240,10462,328,0
2,2024-01-03,171,409,10871,171,10700,792,0
3,2024-01-04,479,1316,12016,479,11537,189,402
4,2024-01-05,316,265,11802,316,11486,130,147

In [5]:
df["Day"] = df["Date"].dt.day
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month

In [6]:
df["Month"].value_counts()

Month
1     93
3     93
5     93
7     93
8     93
4     90
6     90
9     86
2     85
10    62
12    62
11    60
Name: count, dtype: int64

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df.head()

,Date,Expenses,Money_In,Total_Money,Money_Spent,Money_Left,Stock_On_Hand,Stock_To_Order,Day,Year,Month
0,2024-01-01,427,428,10428,427,10001,125,479,1,2024,1
1,2024-01-02,240,701,10702,240,10462,328,0,2,2024,1
2,2024-01-03,171,409,10871,171,10700,792,0,3,2024,1
3,2024-01-04,479,1316,12016,479,11537,189,402,4,2024,1
4,2024-01-05,316,265,11802,316,11486,130,147,5,2024,1

In [9]:
df.drop("Date", axis=1, inplace=True)

In [10]:
df.head()

,Expenses,Money_In,Total_Money,Money_Spent,Money_Left,Stock_On_Hand,Stock_To_Order,Day,Year,Month
0,427,428,10428,427,10001,125,479,1,2024,1
1,240,701,10702,240,10462,328,0,2,2024,1
2,171,409,10871,171,10700,792,0,3,2024,1
3,479,1316,12016,479,11537,189,402,4,2024,1
4,316,265,11802,316,11486,130,147,5,2024,1

In [11]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df.drop("Money_Left", axis=1)
y = df["Money_Left"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [30]:
len(df)

1000

In [31]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_log_error

In [32]:
xgb = XGBRegressor()

In [ ]:
xgb.fit(X_train, y_train)

In [34]:
y_preds = xgb.predict(X_test)

In [35]:
mean_squared_log_error(y_test, y_preds)

0.0003833312933695493