In [13]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [8]:
df = pd.read_csv("../data/insurance_simple_regression.csv")
df

   Age  Premium
0   18    10000
1   22    15000
2   23    18000
3   26    21000
4   28    24000
5   31    26500
6   33    27000

In [9]:
len(df)

7

In [12]:
X = df["Age"]
y = df["Premium"]

In [40]:
len(X), len(y)

(7, 7)

In [42]:
re_X = np.reshape(X, (7,-1))
re_y = np.reshape(y, (7, -1))

In [43]:
re_X.shape

(7, 1)

In [63]:
cvs = cross_val_score(LinearRegression(), re_X, re_y, cv=5, scoring="neg_mean_squared_error")
score = np.mean(cvs)

In [64]:
score

-4470275.362298119