In [23]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_log_error

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/UK Used Car Data set/X_train.csv")
df_y = pd.read_csv("../data/UK Used Car Data set/y_train.csv")

In [3]:
df.head()

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

In [4]:
for label, content in df.items():
    if pd.api.types.is_object_dtype(content):
        print("{}: {}".format(label, df[label].value_counts()))

brand: brand
merc        790
vw          768
ford        766
bmw         638
hyundi      511
toyota      446
skoda       425
audi        343
vauxhall    273
Name: count, dtype: int64
model: model
 Arteon         167
 Grand C-MAX    164
 Scirocco       163
 Prius          154
 Santa Fe       150
               ...
 Eos              5
 Z3               5
 Getz             4
 CLK              4
 IQ               2
Name: count, Length: 90, dtype: int64
transmission: transmission
Manual       1948
Automatic    1660
Semi-Auto    1351
Other           1
Name: count, dtype: int64
fuelType: fuelType
Diesel      2989
Petrol      1754
Hybrid       189
Other         26
Electric       2
Name: count, dtype: int64

In [5]:
df.model.unique()

array([' Santa Fe', ' GTC', ' RS4', ' Scirocco', ' Scala', ' V Class',
       ' Prius', ' M4', ' Camry', ' KA', ' Vivaro', ' CLS Class',
       ' Caravelle', ' Arteon', ' Shuttle', ' I40', ' IX20', ' 6 Series',
       ' GL Class', ' S Class', ' S3', ' Yeti', ' Galaxy', ' Puma',
       ' Edge', ' A8', ' SLK', ' Kamiq', ' RS6', ' CLA Class',
       ' Land Cruiser', ' M Class', ' Q8', ' i3', ' Verso', ' Mustang',
       ' IX35', ' Amarok', ' Avensis', ' Grand Tourneo Connect',
       ' Antara', ' Tourneo Connect', ' Beetle', ' X4', ' CC', ' GT86',
       ' X-CLASS', ' I800', ' i8', ' Caddy Maxi Life', ' Combo Life',
       ' Rapid', ' SQ7', ' Grand C-MAX', ' Tourneo Custom', ' California',
       ' Agila', ' A7', ' Zafira Tourer', ' G Class', ' Tiguan Allspace',
       ' X6', ' M2', ' X7', ' 7 Series', ' Z4', ' RS5', ' Hilux',
       ' GLS Class', ' GLB Class', ' M5', ' RS3', ' Caddy Life', ' SQ5',
       ' Supra', ' 8 Series', ' Fusion', ' M6', ' M3', ' Jetta', ' S4',
       ' R8', ' PROACE VERSO', ' Caddy', ' Getz', ' Eos', ' CLK', ' IQ',
       ' Z3', ' Roomster'], dtype=object)

I wonder if we should cut the model out and just use the make. So many different values.

In [6]:
df.drop(["carID", "model"], axis=1, inplace=True)

In [7]:
df.dtypes

brand            object
year              int64
transmission     object
mileage           int64
fuelType         object
tax             float64
mpg             float64
engineSize      float64
dtype: object

In [8]:
df = pd.get_dummies(df, columns=["brand", "transmission", "fuelType"], dtype=int, drop_first=True)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df, df_y, test_size=0.3)

In [21]:
model = CatBoostRegressor(loss_function="MultiRMSE")

In [22]:
model.fit(X_train, y_train, eval_set=(X_test, y_test), verbose=False, plot=True);

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [24]:
y_preds = model.predict(X_test)

In [25]:
mean_squared_log_error(y_preds, y_test, squared=False)

0.15482305240915573