In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/lotto_history.csv")
df.sum()

Date          2016-01-022016-01-062016-01-092016-01-132016-0...
Ball_1                                                     4389
Ball_2                                                     8592
Ball_3                                                    12674
Ball_4                                                    17043
Ball_5                                                    20897
Ball_6                                                    25090
Ball_Bonus                                                14276
dtype: object

In [3]:
df.head()

         Date  Ball_1  Ball_2  Ball_3  Ball_4  Ball_5  Ball_6  Ball_Bonus
0  2016-01-02      12      25      29      40      48      56          52
1  2016-01-06       8      30      40      50      54      57          13
2  2016-01-09      26      27      46      47      52      58          48
3  2016-01-13       4      12      38      46      57      59           8
4  2016-01-16       1       8      12      25      43      52          38

In [37]:
df["Ball_1"].value_counts()

Ball_1
1     46
4     43
2     41
5     37
3     34
7     33
8     27
6     26
10    23
11    21
13    15
12    15
14    13
15    12
9     12
16    11
18    11
20    10
19     8
23     6
17     6
21     5
22     5
24     4
25     4
26     3
30     3
29     2
27     2
34     2
33     1
39     1
36     1
28     1
32     1
Name: count, dtype: int64

In [18]:
df["Ball_2"].value_counts()[8]

29

In [20]:
df["Ball_3"].value_counts()[21]

22

In [36]:
df["Ball_4"].value_counts()

Ball_4
39    25
32    24
38    21
42    21
36    20
34    20
37    19
35    18
45    18
41    17
29    16
43    15
40    15
31    14
26    14
47    13
46    12
23    12
27    12
24    12
30    11
44    11
19    11
33    11
25    10
28     9
50     8
52     7
48     6
51     6
22     6
49     6
17     5
53     5
20     5
12     4
11     3
54     3
21     3
18     3
16     2
9      2
10     2
55     2
57     2
4      1
15     1
14     1
13     1
Name: count, dtype: int64

In [35]:
df["Ball_5"].value_counts()

Ball_5
40    25
52    25
41    24
46    23
51    23
54    23
47    22
42    20
43    20
48    19
44    19
55    18
45    18
37    17
49    16
35    15
56    14
38    14
53    12
50    12
32    10
39     9
33     9
36     9
34     9
29     7
31     7
28     6
30     6
27     5
57     4
25     4
24     3
23     3
58     3
26     2
21     2
20     2
12     1
15     1
19     1
13     1
17     1
14     1
Name: count, dtype: int64

In [34]:
df["Ball_6"].value_counts()[56]

37

In [31]:
df["Ball_Bonus"].value_counts()[38]

17